<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #0669af;">
    <a class="navbar-brand" id="log" [routerLink]="['/tablero']">Logística Web</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" [routerLink]="['/tablero']" id="dropdownId" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Divisón Transporte</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" [routerLink]="['/reparados']">Reparaciones</a>
                    <a class="dropdown-item" [routerLink]="['/proveedor']">Proveedores</a>
                    <a class="dropdown-item" [routerLink]="['/productos']">Productos</a>
                    <a class="dropdown-item" [routerLink]="['/repuestos']">Repuestos</a>
                    <a class="dropdown-item" [routerLink]="['/diagnostico']">Diagnósticos</a>
                    <a class="dropdown-item" [routerLink]="['/ordendetrabajo']">Orden de Trabajo</a>
                    <a class="dropdown-item" [routerLink]="['/cajachica']">Caja Chica</a>
                    <a class="dropdown-item" [routerLink]="['/movimiento']">Movimientos de la Caja Chica</a>

                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <label id="label" for="Name">{{usuario}}</label> &nbsp; &nbsp;
            <button (click)="cerrar()" class="btn btn-outline-success my-2 my-sm-0" type="submit">Cerrar Sesión</button>
        </form>
    </div>
</nav>
<br>
<br>