<form #f="ngForm" ngNativeValidate>
    <div class="row" text="align-items-center">
        <div class="col-lg-12">
            <div class="control-group">
                <div class="form-group controls mb-0 pb-2">
                    <label>Ingrese producto</label>
                    <input oninvalid="setCustomValidity('El campo producto es obligatorio')"
                        oninput="setCustomValidity('')" name="nombre" minlength="3" [(ngModel)]="item.nombre"
                        class="form-control" id="ejemplo" type="text" placeholder="Ingrese nombre del producto"
                        required="required" data-validation-required-message="Ingrese producto">

                </div>
            </div>
        </div>
    </div>
    <br>
    <div>
        <div class="col-lg-6">
            <button type="submit" (click)="accion(f)" class="btn btn-primary">Guardar</button>
        </div>
    </div>
</form>