<div class="social-box">
    <div class="row">
        <div class="col-lg-4 col-xs-12 text-center">
            <div class="box">
                <img src="assets/img/reparacion.png" alt="Smiley face" height="90" width="90">
                <!-- <i class="fas fa-user fa-3x" aria-hidden="true"></i> -->
                <div class="box-title">
                    <h3>Reparación</h3>
                </div>
                <div class="box-text">
                    <span>Alta, Baja y Modificación de reparación de los vehículos policiales </span>
                </div>
                <div class="box-btn">
                    <a [routerLink]="['/reparados']">Ir a Reparaciones</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-xs-12 text-center">
            <div class="box">
                <img src="assets/img/product.png" alt="Smiley face" height="90" width="90">
                <!-- <i class="fas fa-user fa-3x" aria-hidden="true"></i> -->
                <div class="box-title">
                    <h3>Productos</h3>
                </div>
                <div class="box-text">
                    <span>Alta, Baja y Modificación de los Productos</span>
                </div>
                <div class="box-btn">
                    <a [routerLink]="['/productos']">Ir a Productos</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-xs-12 text-center">
            <div class="box">
                <img src="assets/img/provider.png" alt="Smiley face" height="90" width="90">
                <!-- <i class="fas fa-user fa-3x" aria-hidden="true"></i> -->
                <div class="box-title">
                    <h3>Proveedor</h3>
                </div>
                <div class="box-text">
                    <span>Alta, Baja y Modificación de los Proveedores</span>
                </div>
                <div class="box-btn">
                    <a [routerLink]="['/proveedor']">Ir a Proveedores</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-xs-12 text-center">
            <div class="box">
                <img src="assets/img/replacement.png" alt="Smiley face" height="90" width="90">
                <!-- <i class="fas fa-user fa-3x" aria-hidden="true"></i> -->
                <div class="box-title">
                    <h3>Repuestos</h3>
                </div>
                <div class="box-text">
                    <span>Alta, Baja y Modificación de los Repuestos de los vehículos policiales</span>
                </div>
                <div class="box-btn">
                    <a [routerLink]="['/repuestos']"> Ir a Repuestos</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-xs-12 text-center">
            <div class="box">
                <img src="assets/img/diagnostico.png" alt="Smiley face" height="90" width="90">
                <div class="box-title">
                    <h3>Diagnósticos</h3>
                </div>
                <div class="box-text">
                    <span>Alta, Baja y Modificación del diagnóstico de las reparaciones vehiculares</span>
                </div>
                <div class="box-btn">
                    <a [routerLink]="['/diagnostico']">Ir a Diagnósticos</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-xs-12 text-center">
            <div class="box">
                <img src="assets/img/ordentrabajo.png" alt="Smiley face" height="90" width="90">
                <br>
                <div class="box-title">
                    <h3>Orden de Trabajo</h3>
                </div>
                <div class="box-text">
                    <span>Alta, Baja y Modificación de las órdenes de trabajo</span>
                </div>
                <div class="box-btn">
                    <a [routerLink]="['/ordendetrabajo']">Ir a Orden de trabajo</a>
                </div>
            </div>
        </div>

        <!-- <div class="col-lg-4 col-xs-12 text-center">
            <div class="box">
                <img src="assets/img/unidades.png" alt="Smiley face" height="90" width="90">
                <br>
                <div class="box-title">
                    <h3>Crear Divisiones</h3>
                </div>
                <div class="box-text">
                    <span>Alta, Baja y Modificación de Divisiónes Policiales</span>
                </div>
                <div class="box-btn">
                    <a [routerLink]="['/division']">Ir a Crear División</a>
                </div>
            </div>
        </div> -->
        <!-- 
        <div class="col-lg-4 col-xs-12 text-center">
            <div class="box">
                <img src="assets/img/peso.png" alt="Smiley face" height="90" width="90">
                <br>
                <div class="box-title">
                    <h3>Caja Chica</h3>
                </div>
                <div class="box-text">
                    <span>Alta, Baja y Modificación de la caja chica</span>
                </div>
                <div class="box-btn">
                    <a [routerLink]="['/cajachica']">Ir a Caja Chica</a>
                </div>
            </div>
        </div> -->

        <!-- <div class="col-lg-4 col-xs-12 text-center">
            <div class="box">
                <img src="assets/img/coin.png" alt="Smiley face" height="90" width="90">
                <br>
                <div class="box-title">
                    <h3>Movimiento Caja Chica</h3>
                </div>
                <div class="box-text">
                    <span>Alta, Baja y Modificación del movimiento de la caja chica</span>
                </div>
                <div class="box-btn">
                    <a [routerLink]="['/movimiento']">Ir a Movimiento Caja Chica</a>
                </div>
            </div>
        </div> -->

    </div>
</div>